<!DOCTYPE html>
<html>
    <head>
        <title>Gemstone Price Prediction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Predicting the Prices of Gemstones</h1>

        <p>
            Welcome! In this simple module, we will give you the ability to predict prices of gemstones.
            The price of the gemstone will be based on the characteristics of the gemstone that you enter
            on the page. 
            Please click on the button to begin. 
        </p>

        <a href="predict.html" target="_blank">
            <button style="background-color: blue; color: white;">Predict Prices</button>
        </a>
    </body>
</html>